*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: block;
}
.container{
    margin: 80 px auto;
    max-width: 640px;
    width: 100%;
}
form {
    margin-top: 40px;
}
input, label, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}
button {
    background-color: rgb(237, 183, 183);
    border: none;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    font-style:italic;
    cursor: pointer;
}
button:hover{
background-color: blue;
}
.success-message {
    background-color: red;
    padding: 16px;
    color: aliceblue;
    display: none;
}
.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: aliceblue;
    margin-bottom: 8px;
    display: none;
}